In [1]:
import numpy as np

In [ ]:
import pandas as pd
data=pd.read_csv("C:/Users/Aniket/Downloads/pokemon_data.csv")
#print(data.head(10))
#print(data.tail(5))

In [17]:
print(data.head(8))

   #                       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1                  Bulbasaur  Grass  Poison  45      49       49       65
1  2                    Ivysaur  Grass  Poison  60      62       63       80
2  3                   Venusaur  Grass  Poison  80      82       83      100
3  3      VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4                 Charmander   Fire     NaN  39      52       43       60
5  5                 Charmeleon   Fire     NaN  58      64       58       80
6  6                  Charizard   Fire  Flying  78      84       78      109
7  6  CharizardMega Charizard X   Fire  Dragon  78     130      111      130

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False
5       65     80           1      False
6       85    100           1      False
7       85    100           1      False

In [35]:
print(data.columns)

#printing specific information of each

#print(data.Name[0:5])
print(data[['Attack','Defense']][0:3])
print('\n')
print(data.iloc[1:5])

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')
   Attack  Defense
0      49       49
1      62       63
2      82       83


   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [20]:
#data.loc[data["Type 1"] == "Fire"]
data.loc[data["Speed"] >= 150]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,1,False
315,291,Ninjask,Bug,Flying,61,90,45,50,50,160,3,False
428,386,DeoxysNormal Forme,Psychic,NaN,50,150,50,150,50,150,3,True
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
431,386,DeoxysSpeed Forme,Psychic,NaN,50,95,90,95,90,180,3,True

In [11]:
# Making changes to data
#data['Total']= data['HP'] +data['Attack'] +data["Defense"] + data['Sp. Atk'] +data['Sp. Def'] +data["Speed"]
#data=data.drop(columns=['Total'])

data['total']= data.iloc[:,4:10].sum(axis=1)
data[0:5]

#filtering dataset based on few features
import re
#data=data.loc[data["Type 1"]== 'Grass' & data['Type 2']=='Poison' & data]
#data.loc[data['Name'].str.contains ("Mega")]
data.loc[data["Type 1"].str.contains ("Fire|Grass|Electric" ,regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
168,154,Meganium,Grass,NaN,80,82,100,83,100,80,2,False,525
196,181,AmpharosMega Ampharos,Electric,Dragon,90,95,105,165,110,45,2,False,610
275,254,SceptileMega Sceptile,Grass,Dragon,70,110,75,145,85,145,3,False,630
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False,630
339,310,ManectricMega Manectric,Electric,NaN,70,75,80,135,80,135,3,False,575
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False,560
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False,594

In [24]:
data["Speed"]

(800,)

In [25]:
data.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [28]:
data_e=data.to_excel("pokemon.xlsx")

In [30]:
data_e=pd.read_excel("pokemon.xlsx")

In [40]:
data_e.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  800 non-null    int64
 1   #           800 non-null    int64
 2   Name        800 non-null    object
 3   Type 1      800 non-null    object
 4   Type 2      414 non-null    object
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [43]:
data.loc[data["Attack"] >100,"Name"]

7      CharizardMega Charizard X
8      CharizardMega Charizard Y
12       BlastoiseMega Blastoise
19         BeedrillMega Beedrill
39                      Nidoking
                 ...
793                      Yveltal
796          DiancieMega Diancie
797          HoopaHoopa Confined
798           HoopaHoopa Unbound
799                    Volcanion
Name: Name, Length: 170, dtype: object

In [ ]:
data[[1]]

In [20]:
data.groupby(["Type 1"]).mean().sort_values("Attack",ascending=False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total
Type 1,,,,,,,,,,
Bug,142.000000,70.000000,160.000000,103.750000,46.250000,93.750000,100.000000,1.500000,0.000000,573.750000
Rock,369.666667,76.666667,153.000000,115.000000,108.333333,108.333333,110.333333,3.000000,0.333333,671.666667
Dragon,382.833333,90.500000,139.166667,112.500000,138.333333,110.000000,104.500000,3.166667,0.500000,695.000000
Steel,298.250000,68.750000,128.750000,183.750000,68.750000,95.000000,60.000000,2.750000,0.000000,605.000000
Fire,148.000000,76.500000,128.500000,92.250000,141.000000,96.250000,80.000000,2.000000,0.000000,614.500000
Psychic,224.400000,80.600000,128.000000,79.000000,150.600000,113.000000,126.000000,2.000000,0.400000,677.200000
Water,159.600000,87.800000,124.600000,117.800000,108.000000,100.000000,72.800000,1.800000,0.000000,611.000000
Fighting,378.000000,65.000000,122.500000,86.500000,110.000000,77.500000,106.000000,3.500000,0.000000,567.500000
Ice,362.000000,80.000000,120.000000,80.000000,120.000000,80.000000,100.000000,3.000000,0.000000,580.000000
Ghost,224.000000,62.000000,115.000000,77.500000,131.500000,89.000000,102.500000,2.000000,0.000000,577.500000
Dark,296.666667,63.333333,108.333333,91.666667,113.333333,88.333333,83.333333,2.666667,0.000000,548.333333
Grass,217.750000,80.000000,106.000000,100.750000,120.500000,102.500000,83.750000,2.500000,0.000000,593.500000
Normal,273.000000,89.000000,100.250000,100.000000,82.250000,100.500000,101.500000,2.750000,0.000000,573.500000
Electric,245.500000,80.000000,85.000000,92.500000,150.000000,95.000000,90.000000,2.500000,0.000000,592.500000

Nearest Neighbour Algorithm

In [ ]:
class nearest _neighbour:
    def __init__(self)
    pass

def  train(self,X,y):
    self.xtrain=X
    self.ytrain=y
    
def test(self,X):
    num=X[0].shape
    yprd=np.zeros(num,dtype=self.ytrain.dtype)

    for i in range(num):
    dist = np.sum(np.abs(self.xtrain - X[i,:]),axis=1)
    #print(dist.shape)
    min_index=np.argmin(dist)
    yprd[i] =self.ytrain[min_index]
    return yprd

In [54]:
n=np.arange(5)
for i in np.arange(4):
    i+=i
print(i)

6